<div class="panel panel-default">
  <div class="panel-heading"><h2>Edit Pin</h2></div>
  <div class="panel-body">

    <%= render 'form' %>

    <%= link_to 'Show', @pin %> |
    <%= link_to 'Back', pins_path %>

  </div>
</div>
